.list-style-none {
    list-style: none;
}

.input-style {
    outline: none;
    border: none;
}

.active {
    color: #6f42c1 !important
}

.bg-primary {
    background-color: #6f42c1 !important;
}

.text-primary {
    color: #6f42c1 !important;
}

.fa-trash:hover {
    color: #ee5353;
}

.fa-pen:hover {
    color: #5900ff !important;
}

input[type='checkbox'] {
    accent-color:#6f42c1 ;
}

.largerCheckBox {
    width: 1.25rem;
    height: 1.25rem;
}

input:checked+span {
    text-decoration: line-through;
}


.main-container {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.opacity-control {
    opacity: 0.5;
}


@media screen and (min-width:600px) {
    .main-container {
        width: 50%;
    }

}

.bg-primary-subtle {
    background-color: #f5e1ff !important;
    /* Light purple background */
    color: #333 !important;
    /* Dark text color */
}


.editBox {
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 30%;
    z-index: 100;
    display: none;

}